/* general layout */
body{
    font-family: sans-serif;
    background: white;
    
}

header{
    background-color: lightblue;
}

.dashed{
    border: #222 dashed 2px;
}

.container{
    max-width: 1100px;
    margin: 0 auto;

}

.minHeight{

    min-height: 300px;

}

/* flex containers */
.foot-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.head-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.jumbo-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}





.menu{  
    width: 70%;
    margin: 0 auto;
}



.jumbo-content{
    background-color: violet;
    width: 50%;
    min-height: 300px;
}

.split{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rev{
    flex-direction: row-reverse;
}




